/*a CSS file to manage the appearance of the pages*/

body {
	background-color:#FFFFEB;
}

.vcenter{
	margin-top: 10px;
	margin-bottom: 0px;
}

.condensed{
	height: 350px;
}

.per-row{
	margin-top: 20px;
	margin-bottom: 20px;
	height: 350px;/*HERE*/
}

.per-row-sum{
	margin-top: 10px;
	margin-bottom: 10px;
}

/*for dashboard*/
/*for progression boxes*/
.info{
	background-color: #d9edf7;
	height: 350px; /*HERE*/
	width: 250px;
	margin-left: 20px;
	margin-right: 20px;
	/*margin-top: 20px;*/
	margin-bottom: 20px;
    
}

#story-percent-div{
	background-color: #dff0d8;
	height: 70px;
	width: 180px;
	margin-left: 20px;
	margin-right: 20px;
	border-style: solid;
    border-width: 3px;
    border-color:#FF9900;
    font-family: 'Source Sans Pro';
}

#story-percent{
	font-size: 60px;
	color:#990033;
	font-family: 'Source Sans Pro';
	margin-top: 0px;
	margin-bottom: 0px;
}

#story-percent-detail{
	font-size: 25px;
	color:#990033;
	font-family: 'Source Sans Pro';
}


#point-percent-div{
	background-color: #dff0d8;
	height: 70px;
	width: 110px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 5px;
	border-style: solid;
    border-width: 3px;
    border-color:#FF9900;
    font-family: 'Source Sans Pro';
}

#point-percent{
	font-size: 35px;
	color:#990033;
	font-family: 'Source Sans Pro';
	margin-top: 10px;
	margin-bottom: 0px;
}

#point-percent-detail{
	font-size: 18px;
	color:#990033;
	font-family: 'Source Sans Pro';
}

#task-percent-div{
	background-color: #dff0d8;
	height: 70px;
	width: 110px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 5px;
	border-style: solid;
    border-width: 3px;
    border-color:#FF9900;
    font-family: 'Source Sans Pro';
}

#task-percent{
	font-size: 35px;
	color:#990033;
	font-family: 'Source Sans Pro';
	margin-top: 10px;
	margin-bottom: 0px;
}

#task-percent-detail{
	font-size: 18px;
	color:#990033;
	font-family: 'Source Sans Pro';
}


#wip{
	background-color: #dff0d8;
	height: 70px;
	width: 180px;
	margin-left: 35px;
	margin-right: 30px;
	margin-top: 20px;
	border-style: solid;
    border-width: 3px;
    border-color:#FF9900;
    font-family: 'Source Sans Pro';
}

#wip-count-story{
	font-size: 60px;
	color:#990033;
	font-family: 'Source Sans Pro';
	margin-top: 0px;
}

#wip-count-task{
	font-size: 60px;
	color:#990033;
	font-family: 'Source Sans Pro';
	margin-top: 0px;
}

#wip-end{
	font-size: 25px;
	color:#990033;
	font-family: 'Source Sans Pro';
}

#end{
	background-color: #dff0d8;
	height: 70px;
	width: 180px;
	margin-left: 35px;
	margin-right: 30px;
	margin-top: 20px;
	border-style: solid;
    border-width: 3px;
    border-color:#FF9900;
    font-family: 'Source Sans Pro';
}

#end-count{
	font-size: 60px;
	color:#990033;
	font-family: 'Source Sans Pro';
	margin-top: 0px;
}

#end-day{
	font-size: 25px;
	color:#990033;
	font-family: 'Source Sans Pro';
}

#end-date{
	background-color: #dff0d8;
	height: 50px;
	width: 180px;
	margin-left: 35px;
	margin-right: 30px;
	margin-top: 55px;
	border-style: solid;
    border-width: 3px;
    border-color:#FF9900;
    font-size: 30px;
	color:#990033;
	font-family: 'Source Sans Pro';
}

/*for today's activities box*/
#today-activity{
	height: 350px;
	overflow: auto;
	background-color: #d9edf7;
}

#detail-activity{
	 word-wrap: break-word;
	 font-family: 'Source Sans Pro';
	 font-size: 15px;
}

/*for navbar */
.navbar{
	background-color: #2c3e50;
}

.navbar li a{
	color:#d35400 !important;
	font-size: 23px;
	font-family: 'Source Sans Pro';
	font-weight: bold;
}

.navbar li a:hover{
	color:#2ecc71 !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color:#2ecc71 !important;
}

/*title*/
.title{
	font-family: 'Source Sans Pro';
	color:#34495e ;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: bold;
}

.subtitle{
	font-family: 'Source Sans Pro';
	color:#34495e ;
	text-transform: uppercase;
	margin-bottom: 10px;
	margin-top: 5px;
	font-size: 30px;
	font-weight: bold;
}

.little-title{
	font-family: 'Source Sans Pro';
	font-size: 20px;
}

.activity-title{
	font-family: 'Source Sans Pro';
	font-size: 30px;
}

/*table*/
.table-striped > tbody > tr:nth-of-type(even) {
  font-family: 'Source Sans Pro';
  font-size: 18px;
  font-weight: bold;
 }

 .table-striped > tbody > tr:nth-of-type(odd) {
  font-family: 'Source Sans Pro';
  font-size: 18px;
  font-weight: bold;
 }

  .table-striped > thead > tr {
  background-color:#009999;
  font-family: 'Source Sans Pro';
  font-size: 20px;
  font-weight: bold;
  color:#ecf0f1;
 }

/*for login page*/
 #lable-token{
 	font-family: 'Source Sans Pro';
	font-size: 20px;
	color:white ; 
 }

 #token{
 	font-family: 'Source Sans Pro';
	font-size: 20px;
	color:#34495e ;
 }

 #login-form{
 	width: 75%;
 	margin: auto;
 	border: solid;
 	margin-top:30px;
 	padding: 25px;
 	border-radius: 25px;
 	background-color:#2c3e50 ;
 }

#token-info{
 	width: 75%;
 	margin: auto;
 	border: solid;
 	margin-top:30px;
 	padding: 25px;
 	border-radius: 25px;
 	background-color:#2c3e50 ;
 }

 /*button*/
 #submit{
 	font-family: 'Source Sans Pro';
	font-size: 20px;
	font-weight: bold;
	color:#2c3e50;
 }

 /*for project-list in projects page*/
 .project-list{
 	padding: 15px;
 	border-radius: 25px;
 	background-color:#34495e ;
 	/*background-color: #7f8c8d;*/
 	margin: 30px 45px 30px 45px; 
 	text-transform: uppercase;
 	font-family: 'Source Sans Pro';
 }

 .project-list a{
 	color: #bdc3c7;
 }

 .project-list a:hover{
 	color: #2ecc71;
 	text-decoration: none;
 }

/*for time tracker table*/
#time-tracker thead, #time-tracker tbody, #time-tracker tr, #time-tracker td, #time-tracker th { display: block; }

#time-tracker tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

#time-tracker thead th {
    height: 60px;
    text-align: center;
}

#time-tracker tbody {
    height: 290px;
    overflow-y: auto;
}


#time-tracker tbody td, #time-tracker thead th {
    width: 11.1%;
    float: left;
}

/*for average time spent on stories*/
.detail-row{
	margin-top: 20px;
}

.avg-time-back{
	height: 300px;
	background-color: #d9edf7;
}

.avg-time-all-del{
	background-color: #dff0d8;
	color:#990033;
	height: 50px;
	width: 180px;
	margin-left: 40px;
	border-style: solid;
    border-width: 3px;
    border-color:#FF9900;
    font-family: 'Source Sans Pro';
}

.avg-time-all-com{
	background-color: #CCFF66;
	color:#990033;
	height: 50px;
	width: 180px;
	border-style: solid;
    border-width: 3px;
    border-color:#FF9900;
    font-family: 'Source Sans Pro';
}

.avg-time-part-del{
	background-color: #dff0d8;
	color:#990033;
	height: 50px;
	border-style: solid;
    border-width: 3px;
    border-color:#FF9900;
    margin-left: 30px;
    font-family: 'Source Sans Pro';
}

.avg-time-part-com{
	background-color: #CCFF66;
	color:#990033;
	height: 50px;
	border-style: solid;
    border-width: 3px;
    border-color:#FF9900;
    margin-left: 30px;
    font-family: 'Source Sans Pro';
}

#avg-all-now-del{
	vertical-align:middle;
	font-family: 'Source Sans Pro';
}

